<!DOCTYPE html>
<html lang="en">

<head>
    <title>Input</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        h1 {
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    </style>
</head>

<body>
    <h1>County Coordinate Input</h1>
    <form>
        <h3>County Name</h1>
            <input id="name" name="name" type="text">
            <h3>1st Corner</h1>
                <input id="nwc" name="nwc" type="text">
                <h3>2nd Corner</h1>
                    <input id="nec" name="nec" type="text">
                    <h3>3rd Corner</h1>
                        <input id="swc" name="swc" type="text">
                        <h3>4th Corner</h1>
                            <input id="sec" name="sec" type="text">
                            <h3>5th Corner</h1>
                                <input id="five" name="five" type="text">
                            <h3>Email</h1>
                                <input id="email" name="email" type="text">
                                <h3>Year</h1>
                                    <input id="year" name="year" type="text">
    </form>
    <div id="submit" type="button">Submit</div>
    <h3>Output</h3>
    <div id ="output"></div>
    <script>
        $("#submit").click(function () {
            console.log("hello");
            var formData = $('form').serialize();
            $.get("/data/csv?" + formData, function(res){
                $("#output").html(res)
            });
        });
    </script>
</body>

</html>