html {
  background: rgb(255,252,249);
  background: linear-gradient(121deg, rgba(255,252,249,1) 7%, rgba(255,250,247,1) 74%);
}

.App {
  background: rgb(255,252,249);
  background: linear-gradient(121deg, rgba(255,252,249,1) 7%, rgba(255,250,247,1) 74%);
}

.page-content {
  padding: 0 var(--sideMargin);
}