:root {
  --offWhite: #f8f9fa;
  --sideMargin: 2vw;
  --navBarOffset: 10vh;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 576px) {
  :root {
    --navBarOffset: 0vh;
  }
}

@media (min-width: 1080px) {
  :root {
    --sideMargin: 10vw;
  }
}