:root {
  --black: hsl(105, 20%, 4%);
  --bgColor: hsl(30, 100%, 100%);
  --seashell: hsl(30, 70%, 96%);
  --lightYellow: hsl(61, 70%, 91%);
  --countyGray: hsl(0, 0%, 94%);
  --countyYellow: hsl(44, 74%, 73%);
  --leafGreen: hsl(119, 74%, 73%);
  --sideMargin: 4vw;
  --navBarOffset: 10vh;
  --boxShadow: 5px 5px 18px 1px rgba(0, 0, 0, 0.1);
}

body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background: rgb(255, 254, 253);
  background: linear-gradient(121deg, rgba(255, 254, 253, 1) 30%, rgba(255, 252, 248, 1) 85%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.home-page, .solar-map-page, .solar-graph-page, .contact-page {
  padding: 0 var(--sideMargin);
}

@media (min-width: 560px) {
  :root {
    --sideMargin: 10vw;
  }
}

@media (min-width: 760px) {
  :root {
    --navBarOffset: 0vh;
  }
}

@media (min-width: 1080px) {
  :root {
    /*--sideMargin: 0vw;*/
  }
}