.content>img {
  max-width: 60%;
  position: absolute;
  top: 40%;
  right: 50px;
  transform: translateY(-50%);
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);}

.content {
  margin: 15vh 0 0 0;
  font-weight: 100;
}

.title-blurb {
  margin-bottom: 50px;
  max-width: 66%;
  position: relative;
  padding: 1rem;
  border-radius: 15px;
  background-color: rgba(250, 250, 250, .9);
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.home-card {
  flex-basis: 32%;
  padding: 1rem;
  background-color: rgba(250, 250, 250, .9);
}

.home-card, .title-blurb {
  z-index: 2;
  border-radius: 15px;
}

.home-card, .title-blurb, .content > img {
  box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, .2);
}