.lineviz {
  /*width: 100%;*/
  display: block;
  margin: auto;
}

.graph-title {
  font-size: 25px;
  font-weight: 600;
}

.axis-label {
  font-weight: 500;
}

.explanation {
  margin-left: 400px;
  margin-right: 400px;
}

@charset "UTF-8";
#GHIDataLine {
  fill: none;
  /*stroke: #3452a2;*/
  /*stroke: red;*/
  stroke: red;
  stroke-width: 1.5;
  clip-path: url(#clip);
  -webkit-transform: translate3d(0, 0, 0);
}

#GHIPredictionLine {
  fill: none;
  /*stroke: #3452a2;*/
  stroke: steelblue;
  stroke-width: 1.5;
  clip-path: url(#clip);
  -webkit-transform: translate3d(0, 0, 0);
}

.solarfarmbutton {
  border-radius: 16px;
  background-color: white;
  /*background-color: #EDC8C8;*/
  color: black;
  transition-duration: 0.3s;
  padding: 8px 28px;
  font: 15px Arial, sans-serif;
  border-color: #F76444;
}

.solarfarmbutton:hover {
  /*Peach color*/
  background-color: #F76444;
  /*background-color: blue;*/
  color: white;
}

#clickedfarmbutton {
  border-radius: 16px;
  background-color: #F76444;
  transition-duration: 0.3s;
  padding: 8px 28px;
  font: 15px Arial, sans-serif;
  border-color: #F76444;
  color: white;
}

#solar-graph {
  overflow: auto;
}

#solar-graph-div {
  display: block;
  margin: auto;
}

/*Elements inside the div for dropdowns and whatnot*/
#location-selector-linechart *{
  /*This margin is space between the dropdowns*/
  margin: 0 4em 0 4em;
  text-align: left;
  width: 15em;

}

/*The actual div and its properties (this div holds the dropdowns*/
#location-selector-linechart {
  /*and fyi this guy is for the actual general div*/
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;

}

.solar-graph-page {
  margin-top: 2em;
}

.solar-text {
  margin: 0 18em 0 18em;
}

.solar-header {
  text-align: center;
  margin-bottom: 1em;
}

/*.dropdown {
  just messin around with some css, we need to make the dropdowns look nice (with no css btw, mac makes it look p good)
  background: orange;
  color: black;
}*/