/* Layout */

.solar-graph-page {
  width: 100%;
  padding: 0;
}

#solar-graph {
  height: 100vh;
  width: 100%;
}

.graph-container {
  height: 100vh;
  width: 70%;
  float: left;
}

.graph-sidebar {
  height: 100vh;
  width: 30%;
  float: right;
  padding: 2em;
}

/* Graph Style */

.axis-label {
  font-weight: 500;
}

@charset "UTF-8";
#GHIDataLine {
  fill: none;
  stroke: var(--cinnabarRed);
  stroke-width: 1.5;
  clip-path: url(#clip);
  -webkit-transform: translate3d(0, 0, 0);
}

#GHIPredictionLine {
  fill: none;
  /*stroke: #3452a2;*/
  stroke: var(--tealBlue);
  stroke-width: 1.5;
  clip-path: url(#clip);
  -webkit-transform: translate3d(0, 0, 0);
}

.solarfarmbutton, .submit-button {
  border-radius: 10px;
  background-color: white;
  /*background-color: #EDC8C8;*/
  color: black;
  transition-duration: 0.3s;
  padding: 2px 10px;
  font: 15px Arial, sans-serif;
  border-color: #F76444;
}

.solarfarmbutton:hover {
  /*Peach color*/
  background-color: #F76444;
  /*background-color: blue;*/
  color: white;
}

#clickedfarmbutton {
  border-radius: 10px;
  background-color: #F76444;
  transition-duration: 0.3s;
  padding: 6px 20px;
  font: 15px Arial, sans-serif;
  border-color: #F76444;
  color: white;
}

.dropdown {
  display: block;
  margin: .5em 0;
  padding: 1px 3px;
  border-radius: 10px;
}

#location-selector-linechart {
  margin: 2em 0;
}