.home-image {
  max-width: 35%;
  min-width: 400px;
  position: absolute;
  top: calc(40% + var(--navBarOffset) * 2);
  right: calc(8vw - var(--navBarOffset) * 3);
  transform: translateY(-40%);
}

.home-page {
  margin: calc(15vh - var(--navBarOffset)) 0 0 0;
  font-weight: 100;
}

.title-blurb {
  margin-top: 50px;
  margin-bottom: 35vh;
  width: 40%;
  min-width: 300px;
  position: relative;
}

.predictions-container {
  border-radius: 40px;
  background-color: var(--seashell);
  padding: 2em;
  margin-bottom: 6em;
  box-shadow: var(--boxShadow);
  -webkit-box-shadow: var(--boxShadow);
  -moz-box-shadow: var(--boxShadow);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2em;
}

.home-card, .title-blurb {
  z-index: 2;
}

.horizontal-line {
  margin-top: 0;
  margin-bottom: .5em;
}

.subheading {
  margin-bottom: 1em;
}

.graph-image {
  width: 90%;
}

.forecasting-container {
  text-align: center;
}